{% extends "base.html" %} {% block title %}Locations{% endblock %} {% block
content %}
<section class="space-y-5 mb-10 flex flex-col">
  <h1 class="font-bold text-2xl">Locations</h1>
  {% if locations %} {% for location in locations %}
  <a
    href="http://maps.google.com/maps?q={{ location.data.latitude }},{{ location.data.longitude }}"
    target="_blank"
    rel="noreferrer noopener"
  >
    <div class="border-2 p-5 rounded-lg space-y-3">
      <h2 class="font-bold">{{ location.name }}</h2>
      <p>{{ location.data.note }}</p>
    </div>
  </a>
  {% endfor %} {% else %}
  <div class="border-2 p-5 rounded-lg">No locations sent yet</div>
  {% endif %}
</section>
{% endblock %}
