{% extends "base.html" %} {% block title %}Locations{% endblock %} {% block
content %}
<section class="space-y-5 mb-10 flex flex-col">
  <h1 class="font-bold text-2xl">Locations</h1>
  {% if locations %} {% for location in locations %}
  <div class="border-2 p-5 rounded-lg space-y-3">
    <h2 class="text-xl font-bold">{{ location.name }}</h2>
    <p>{{ location.plaintext }}</p>
  </div>
  {% endfor %} {% else %}
  <div class="border-2 p-5 rounded-lg">No locations sent yet</div>
  {% endif %}
</section>
{% endblock %}
