{% macro button(title) %}
  <button class="bg-blue-600 text-white w-full rounded-lg p-3">
    {{ title }}
  </button>
{% endmacro %}
{% macro field(label, input, placeholder) %}
  <div class="space-y-3">
    {{ label(class = "font-bold") }}
    {{
      input(class="bg-gray-200 rounded-lg w-full
      p-3", placeholder = placeholder)
    }}
  </div>
{% endmacro %}
{% macro submit(input, title) %}{{
  input(class = "bg-blue-600
  text-white w-full rounded-lg p-3")
}}{% endmacro %}
{% macro text(text_content) %}
  <button onclick="copyToClipboard(this)" value="{{ text.text }}">
    <div class="border-2 p-5 rounded-lg flex items-center">
      <div class="flex flex-col space-y-3 text-left">
        <h2 class="font-bold">{{ text_content.sender }}</h2>
        <p>{{ text_content.context }}</p>
      </div>
      <div class="ml-auto order-2 space-x-3 flex items-center">
        {% if text_content.verified %}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
            />
          </svg>
          <p>Verified</p>
        {% else %}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v3.75m0-10.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.75c0 5.592 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.57-.598-3.75h-.152c-3.196 0-6.1-1.249-8.25-3.286zm0 13.036h.008v.008H12v-.008z"
            />
          </svg>
          <p>Unverified</p>
        {% endif %}
      </div>
    </div>
  </button>
{% endmacro %}
