{% extends "base.html" %} {% block title %}Send Location{% endblock %} {%block
content %}
<section class="space-y-5 mb-10">
  <h1 class="text-2xl font-bold">Send Location</h1>
  <form method="POST" class="space-y-5">
    {{form.hidden_tag()}}
    <div class="space-y-3">
      {{form.contact.label(class = "font-bold")}}
      {{form.contact(class="bg-gray-200 rounded-lg w-full p-3", placeholder =
      "Contacts")}}
    </div>
    <div class="space-y-3">
      {{form.longitude.label(class = "font-bold")}}
      {{form.longitude(class="bg-gray-200 rounded-lg w-full p-3", placeholder =
      "Longitude")}}
    </div>
    <div class="space-y-3">
      {{form.latitude.label(class = "font-bold")}}
      {{form.latitude(class="bg-gray-200 rounded-lg w-full p-3", placeholder =
      "Latitude")}}
    </div>
    <div class="space-y-3">
      {{form.note.label(class = "font-bold")}} {{form.note(class="bg-gray-200
      rounded-lg w-full p-3", placeholder = "Note")}}
    </div>
    {{form.submit(class = "bg-blue-600 text-white w-full rounded-lg p-3")}}
  </form>
</section>
{% endblock %}
