{% from "macros.html" import field, submit %} {% extends "base.html" %}
{%
  block
  title
%}
  Send Message
{% endblock %}
{% block content %}
  <section class="space-y-5 mb-10">
    <h1 class="text-2xl font-bold">Send Message</h1>
    <form method="POST" class="space-y-5">
      {{ form.hidden_tag() }}
      {{
        field(form.recipient.label, form.recipient,
        "Contacts")
      }}
      {{ field(form.context.label, form.context, "Conteext") }}
      {{ field(form.message.label, form.message, "Message") }}
      {{ submit(form.submit) }}
    </form>
  </section>
{% endblock %}
