{% extends "base.html" %} {% block title %}Setup Certification{% endblock %}
{%block content %} {% if get_flashed_messages() %}
<section class="space-y-5 mb-10">
  {% for message in get_flashed_messages() %}
  <div class="p-5 rounded-lg border-2">
    <p>{{ message }}</p>
  </div>
  {% endfor %}
</section>
{% endif %}
<section class="space-y-5 mb-10">
  <h1 class="text-2xl font-bold">Setup Account</h1>
  <form method="POST" class="space-y-5">
    {{form.hidden_tag()}}
    <div class="space-y-3">
      {{form.name.label(class = "font-bold")}} {{form.name(class="bg-gray-200
      rounded-lg w-full p-3", placeholder = "Name")}}
    </div>
    {{form.submit(class = "bg-blue-600 text-white w-full rounded-lg p-3")}}
  </form>
</section>
{% endblock %}
