{% from "macros.html" import text %}
{% extends "base.html" %}
{% block script %}
  <script src="/static/scripts/texts.js"></script>
{% endblock %}
{% block title %}Locations{% endblock %}
{% block content %}
  <section class="space-y-5 mb-10 flex flex-col">
    <h1 class="font-bold text-2xl">Latest Messages</h1>
    {% if texts %}
      {% for text_content in texts %}
        {{ text(text_content) }}
      {% endfor %}
    {% else %}
      <div class="border-2 p-5 rounded-lg">No new messages</div>
    {% endif %}
  </section>
{% endblock %}
